---
---
// SCSS for the whole blog - we don't need to split into multiple files really,
// it should remain pretty simple for the most part.

//
// VARIABLES

// type settings
$header-font-family: myriad-pro, sans-serif;
$body-font-family: $header-font-family;

$base-font-size: 18;
$small-font-size: 16;

$h1-size: 34;
$h2-size: 26;
$h3-size: 21;
$baseline: ($base-font-size * 1.4);

// layout settings
$max-container-width: 560px;
$footer-height: ($baseline * 5);

// color settings
$background-color: #fdfdfd;
$text-color: #111;
$primary: #4A897B;

$light-gray: #CDD4D2;
$dark-gray: #ADB3B1;

$link-color: $text-color;
$link-color: $primary;
$link-active-color: lighten($primary, 10%);

// SCSS UTILITIES
//
@function pte($target, $context) {
  @return (($target/$context) + 0em);
}

//
// BASE STYLES

// simple reset
* {
  box-sizing: border-box;
  -mox-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  font-size: 100%;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-family: $body-font-family;
  font-size: ((100%/16)*$base-font-size);

  // comment this out to hide baseline grid
  // background: url("http://www.baselineme.com/#{$baseline}") center top repeat;
}

a {
  color: $link-color;

  &:hover {
    color: $link-active-color;
  }
}

.small {
  font-size: pte($small-font-size, $base-font-size);
  line-height: pte($baseline, $small-font-size);
}

p {
  line-height: pte($baseline, $base-font-size);
  margin-bottom: pte($baseline, $base-font-size);
}

h1, h2, h3 {
  font-family: $header-font-family;
  color: $text-color;
  font-weight: 600;
}

h1 {
  font-size: pte($h1-size, $base-font-size);
  line-height: pte($baseline, $h1-size);
  margin-bottom: pte($baseline, $h1-size);
}

h2 {
  font-size: pte($h2-size, $base-font-size);
  line-height: pte($baseline, $h2-size);
  margin-bottom: pte($baseline, $h2-size);
  font-style: italic;
}

h3 {
  font-size: pte($h3-size, $base-font-size);
  line-height: pte($baseline, $h3-size);
  margin-bottom: pte($baseline, $h3-size);
}

ul, ol {
  margin-bottom: pte($baseline, $base-font-size);
  line-height: pte($baseline, $base-font-size);
  list-style: none;
}
li li {
  font-size: 100%;
}

// responsive changes for base type size
// @media screen and (max-width: 688px) {
//   body {
//     font-size: ((100%/16)*19);
//   }
// }

// @media screen and (max-width: 601px) {
//   body {
//     font-size: ((100%/16)*17);
//   }
// }

img,
object,
embed,
iframe {
  display: block;
  max-width: 100%;
  margin-bottom: pte($baseline, $base-font-size);
}

figure {
  margin-bottom: pte($baseline, $base-font-size);

  image {
    margin-bottom: 0;
  }

  figcaption {
    @extend .small;
    padding: 0 pte(($baseline/4), $base-font-size);
    margin-bottom: pte(($baseline * 0.75), $base-font-size);
    text-align: right;
    margin-bottom: 0;
    font-style: italic;
  }
}

//
// LAYOUT STYLES
#body-wrapper {
  $wrapper-color: rgba((darken($primary, 5%)), 0.66);
  border-top: solid $wrapper-color;
  border-bottom: solid $wrapper-color;
  border-width: pte(($baseline/4), $base-font-size);
  padding: pte($baseline, $base-font-size) pte(($base-font-size*1.5), $base-font-size);
}

.container {
  margin: 0 auto;
  max-width: $max-container-width;
  overflow: hidden;
}

header {
  border-bottom: 1px solid $light-gray;
  margin-bottom: pte(($baseline - 1), $base-font-size);

  nav {
    ul {
      text-align: center;

      li {
        @extend .small;
        display: inline;
        margin: 0 pte(($baseline/2), $base-font-size);
      }

      a {
        display: inline-block;
      }
    }
  }
}

#archive {
  margin-top: pte($baseline, $base-font-size);

  .section-title {
    text-align: center;
    margin-bottom: pte($baseline, $base-font-size);
  }

  .month-title {
    margin-top: pte(($baseline/2), $base-font-size);
    margin-bottom: pte(($baseline/2), $base-font-size);
  }
}

#about-austin {
  margin-top: pte($baseline, $base-font-size);
}

footer {
  padding-top: pte(($baseline * 2), $base-font-size);

  p {
    text-align: center;
    @extend .small
  }
}

// MODULE STYLES
.monospace {
  font-family: "Monaco", monospace;
  font-size: 0.7em;
  background-color: darken($light-gray, 11%);
  padding: 0.2em 0.4em;
}

.center-list {
  li {
    text-align: center;
  }
}

.post-profile .profile {
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  padding-top: pte($baseline, $base-font-size);
}

.profile {
  margin-bottom: pte($baseline, $base-font-size);

  .profile-image {
    float: left;
    margin-right: pte($base-font-size, $base-font-size);

    img {
      display: inline;
      margin: 0;
    }
  }

  .about {
    display: inline;

    p {
      font-size: pte($small-font-size, $base-font-size);
    }

    .hire-me-maybe {
      font-weight: 600;
    }
  }
}

.post-list {
  .post:first-child {
    border-top: none;
    padding-top: pte($baseline, $base-font-size);
  }
}

.post {
  padding-top: pte(($baseline * 2), $base-font-size);
  padding-bottom: pte((($baseline * 2) - 1), $base-font-size);
  border-top: 1px solid $light-gray;

  .post-header {
    padding: 0 0 pte($baseline*2, $base-font-size);

    .post-title {
      margin: 0;
      line-height: 100%;
      text-align: center;

      a {
        text-decoration: none;
        color: $text-color;

        &:hover {
          text-decoration: underline;
          color: $link-active-color;
        }
      }
    }
  }

  .post-body {
    h2 {
      margin-top: pte(($baseline * 2), $h2-size);
    }

    h3 {
      margin-top: pte(($baseline * 2), $h3-size);
    }

    ul, ol {
      padding-left: pte(($base-font-size*2), $base-font-size);
      list-style-type: disc;
    }

    .excerpt p {
      // not sure what I want to do here
    }

    .aside {
      border-left: 4px solid $primary;

      p {
        padding-top: pte(($baseline/2), $base-font-size);
        padding-bottom: pte(($baseline/2), $base-font-size);
        padding-left: pte($baseline, $base-font-size);
      }
    }

    .read-more {
      text-align: center;
    }

    img,
    iframe,
    object,
    embed {
      margin: 0 auto pte($baseline, $base-font-size);
    }

    p:first-child {
      margin-top: 0;
    }
  }

  .post-footer {
    p {
      @extend .small;
      // color: lighten($text-color, 50%);
      color: $dark-gray;
      font-style: italic;
      margin-bottom: 0;
      text-align: right;
    }
  }
}

// CODE HIGHLIGHTING
pre code {
  margin: 0 0 pte($baseline, $base-font-size);
  $baseline-em: pte($baseline, $base-font-size);
  padding: ($baseline-em/2) ($baseline-em*2);
}

// STICKY FOOTER
// it's all the way down here so we can override things easily
html, body {
  height: 100%;
}

#sticky-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -(pte($footer-height, $base-font-size));
}

footer, #sticky-push {
  height: pte($footer-height, $base-font-size);
}
