* {
  box-sizing: border-box;
  -mox-box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  overflow-y: scroll;
  font-size: 100%; }

body {
  background-color: #fdfdfd;
  color: #111111;
  font-family: myriad-pro, sans-serif;
  font-size: 112.5%; }

a {
  color: #4a897b; }
  a:hover {
    color: #5ea898; }

.small, figure figcaption, header nav ul li, footer p, .post .post-footer p {
  font-size: 0.88889em;
  line-height: 1.575em; }

p {
  line-height: 1.4em;
  margin-bottom: 1.4em; }

h1, h2, h3 {
  font-family: myriad-pro, sans-serif;
  color: #111111;
  font-weight: 600; }

h1 {
  font-size: 1.88889em;
  line-height: 0.74118em;
  margin-bottom: 0.74118em; }

h2 {
  font-size: 1.44444em;
  line-height: 0.96923em;
  margin-bottom: 0.96923em;
  font-style: italic; }

h3 {
  font-size: 1.16667em;
  line-height: 1.2em;
  margin-bottom: 1.2em; }

ul, ol {
  margin-bottom: 1.4em;
  line-height: 1.4em;
  list-style: none; }

li li {
  font-size: 100%; }

img,
object,
embed,
iframe {
  display: block;
  max-width: 100%;
  margin-bottom: 1.4em; }

figure {
  margin-bottom: 1.4em; }
  figure image {
    margin-bottom: 0; }
  figure figcaption {
    padding: 0 0.35em;
    margin-bottom: 1.05em;
    text-align: right;
    margin-bottom: 0;
    font-style: italic; }

#body-wrapper {
  border-top: solid rgba(65, 120, 108, 0.66);
  border-bottom: solid rgba(65, 120, 108, 0.66);
  border-width: 0.35em;
  padding: 1.4em 1.5em; }

.container {
  margin: 0 auto;
  max-width: 560px;
  overflow: hidden; }

header {
  border-bottom: 1px solid #cdd4d2;
  margin-bottom: 1.34444em; }
  header nav ul {
    text-align: center; }
    header nav ul li {
      display: inline;
      margin: 0 0.7em; }
    header nav ul a {
      display: inline-block; }

#archive {
  margin-top: 1.4em; }
  #archive .section-title {
    text-align: center;
    margin-bottom: 1.4em; }
  #archive .month-title {
    margin-top: 0.7em;
    margin-bottom: 0.7em; }

#about-austin {
  margin-top: 1.4em; }

footer {
  padding-top: 2.8em; }
  footer p {
    text-align: center; }

.monospace {
  font-family: "Monaco", monospace;
  font-size: 0.7em;
  background-color: #afbab7;
  padding: 0.2em 0.4em; }

.center-list li {
  text-align: center; }

.post-profile .profile {
  border-top: 1px solid #cdd4d2;
  border-bottom: 1px solid #cdd4d2;
  padding-top: 1.4em; }

.profile {
  margin-bottom: 1.4em; }
  .profile .profile-image {
    float: left;
    margin-right: 1em; }
    .profile .profile-image img {
      display: inline;
      margin: 0; }
  .profile .about {
    display: inline; }
    .profile .about p {
      font-size: 0.88889em; }

.hire-me-maybe {
  font-weight: 600; }

.post-list .post:first-child {
  border-top: none;
  padding-top: 1.4em; }

.post {
  padding-top: 2.8em;
  padding-bottom: 2.74444em;
  border-top: 1px solid #cdd4d2; }
  .post .post-header {
    padding: 0 0 2.8em; }
    .post .post-header .post-title {
      margin: 0;
      line-height: 100%;
      text-align: center; }
      .post .post-header .post-title a {
        text-decoration: none;
        color: #111111; }
        .post .post-header .post-title a:hover {
          text-decoration: underline;
          color: #5ea898; }
  .post .post-body h2 {
    margin-top: 1.93846em; }
  .post .post-body h3 {
    margin-top: 2.4em; }
  .post .post-body ul, .post .post-body ol {
    padding-left: 2em;
    list-style-type: disc; }
  .post .post-body .aside {
    border-left: 4px solid #4a897b; }
    .post .post-body .aside p {
      padding-top: 0.7em;
      padding-bottom: 0.7em;
      padding-left: 1.4em; }
  .post .post-body .read-more {
    text-align: center; }
  .post .post-body img,
  .post .post-body iframe,
  .post .post-body object,
  .post .post-body embed {
    margin: 0 auto 1.4em; }
  .post .post-body p:first-child {
    margin-top: 0; }
  .post .post-footer p {
    color: #adb3b1;
    font-style: italic;
    margin-bottom: 0;
    text-align: right; }

pre code {
  margin: 0 0 1.4em;
  padding: 0.7em 2.8em; }

html, body {
  height: 100%; }

#sticky-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto-7em; }

footer, #sticky-push {
  height: 7em; }
