* {
  box-sizing: border-box;
  -mox-box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  overflow-y: scroll;
  font-size: 100%; }

body {
  background-color: white;
  color: #111111;
  font-family: "utopia-std-display", Georgia, serif;
  font-size: 118.75%; }

a {
  color: #4f7cb0; }
  a:hover {
    color: #6189b8; }

.small, figure figcaption, header nav ul li, footer p, .post .post-footer p {
  font-size: 0.89474em;
  line-height: 1.56471em; }

p {
  line-height: 1.4em;
  margin-bottom: 1.4em; }

h1, h2, h3 {
  font-family: "futura-pt", sans-serif;
  color: #111111;
  font-weight: 500; }

h1 {
  font-size: 1.78947em;
  line-height: 0.78235em;
  margin-bottom: 0.78235em; }

h2 {
  font-size: 1.36842em;
  line-height: 1.02308em;
  margin-bottom: 1.02308em; }

h3 {
  font-size: 1.10526em;
  line-height: 1.26667em;
  margin-bottom: 1.26667em;
  font-style: italic; }

ul, ol {
  margin-bottom: 1.4em;
  line-height: 1.4em;
  list-style: none; }

li li {
  font-size: 100%; }

img,
object,
embed,
iframe {
  display: block;
  max-width: 100%;
  margin-bottom: 1.4em; }

figure {
  margin-bottom: 1.4em; }
  figure img {
    margin-bottom: 0; }
  figure figcaption {
    padding: 0 0.35em;
    margin-bottom: 1.05em;
    text-align: right;
    margin-bottom: 0;
    font-style: italic; }

/*#body-wrapper {*/
/*$wrapper-color: rgba($primary, 0.8);*/
/*border-top: solid $wrapper-color;*/
/*border-bottom: solid $wrapper-color;*/
/*border-width: pte(($baseline/4), $base-font-size);*/
/*padding: pte($baseline, $base-font-size) pte(($base-font-size*1.5), $base-font-size);*/
/*}*/
#body-wrapper {
  padding: 1.4em 1.5em 0; }

.container {
  margin: 0 auto;
  max-width: 560px;
  overflow: hidden; }

header {
  border-bottom: 1px solid #cdd4d2;
  margin-bottom: 1.34737em; }
  header nav ul {
    text-align: center; }
    header nav ul li {
      display: inline;
      margin: 0 0.7em; }
    header nav ul a {
      display: inline-block; }

#archive {
  margin-top: 1.4em; }
  #archive .section-title {
    text-align: center;
    margin-bottom: 1.4em; }
  #archive ul > li:first-child {
    margin-top: 0; }
  #archive .post-item {
    margin-left: 1em; }
  #archive .month-item {
    margin-top: 1.4em;
    margin-bottom: 0.46667em; }
    #archive .month-item .month-title {
      margin-bottom: 0; }

#about-austin {
  margin-top: 1.4em; }

footer {
  padding-top: 2.8em; }
  footer p {
    text-align: center; }

.monospace {
  font-family: "Monaco", monospace;
  font-size: 0.7em;
  background-color: #afbab7;
  padding: 0.2em 0.4em; }

.center-list li {
  text-align: center; }

.post-profile .profile {
  border-top: 1px solid #cdd4d2;
  border-bottom: 1px solid #cdd4d2;
  padding-top: 1.4em; }

.profile {
  margin-bottom: 1.4em; }
  .profile .profile-image {
    float: left;
    margin-right: 1em; }
    .profile .profile-image img {
      display: inline;
      margin: 0; }
  .profile .about {
    display: inline; }
    .profile .about p {
      font-size: 0.89474em; }

.hire-me-maybe {
  font-weight: 600; }

.post-list .post:first-child {
  border-top: none;
  padding-top: 1.4em; }

.post {
  padding-top: 2.8em;
  padding-bottom: 2.74737em;
  border-top: 1px solid #cdd4d2; }
  .post .post-header {
    padding: 0 0 2.8em; }
    .post .post-header .post-title {
      margin: 0;
      line-height: 100%;
      text-align: center; }
      .post .post-header .post-title a {
        text-decoration: none;
        color: #111111; }
        .post .post-header .post-title a:hover {
          text-decoration: underline;
          color: #6189b8; }
  .post .post-body h2 {
    margin-top: 2.04615em; }
  .post .post-body h3 {
    margin-top: 2.53333em; }
  .post .post-body ul, .post .post-body ol {
    padding-left: 2em;
    list-style-type: disc; }
  .post .post-body .aside {
    border-left: 4px solid #4f7cb0; }
    .post .post-body .aside p {
      padding-top: 0.7em;
      padding-bottom: 0.7em;
      padding-left: 1.4em; }
  .post .post-body .read-more {
    text-align: center; }
  .post .post-body img,
  .post .post-body iframe,
  .post .post-body object,
  .post .post-body embed {
    margin: 0 auto 1.4em; }
  .post .post-body p:first-child {
    margin-top: 0; }
  .post .post-footer p {
    color: #adb3b1;
    font-style: italic;
    margin-bottom: 0;
    text-align: right; }

.cv p {
  font-size: 16px;
  line-height: 1.6625em;
  margin-bottom: 1.6625em; }
.cv h1, .cv h2, .cv h3 {
  font-family: "futura-pt", sans-serif;
  color: #111111;
  font-weight: 600; }
.cv h1 {
  font-size: 1.625em;
  line-height: 0.78235em;
  margin-bottom: 0.78235em; }
.cv h2 {
  font-size: 1.3125em;
  line-height: 1.02308em;
  margin-bottom: 1.02308em;
  font-style: normal;
  border-bottom: 1px solid #cdd4d2; }
.cv h3 {
  font-size: 1.125em;
  line-height: 1.26667em;
  margin-bottom: 1.26667em; }
.cv h4 {
  font-size: 1em;
  margin-bottom: 0.6015em; }
.cv ul, .cv ol {
  margin-bottom: 1.6625em;
  line-height: 1.6625em;
  list-style: none; }
.cv li {
  font-size: 16px; }
.cv li li {
  font-size: 16px; }
.cv ul, .cv ol {
  list-style-type: disc;
  margin-left: 2em; }

@page {
  margin-top: 1cm;
  counter-increment: page;
  counter-reset: page 1;
  @top-right {
    content: "Page " counter(page) " of " counter(pages); } }

@media print {
  #sticky-push {
    display: none !important; }

  p {
    font-size: 12px !important;
    line-height: 14px !important;
    margin-bottom: 14px !important;
    font-family: helvetica, sans-serif !important; }

  .typekit-badge {
    display: none !important; }

  h1, h2, h3, h4 {
    color: #345274 !important;
    font-family: helvetica, sans-serif !important; }

  a {
    color: #111111 !important; }

  h1 {
    font-size: 21px !important;
    line-height: 21px !important;
    margin-bottom: 14px !important; }

  h2 {
    font-size: 16px !important;
    line-height: 14px !important;
    margin-bottom: 14px !important;
    border-bottom: 1px solid #adb3b1 !important; }

  h3 {
    font-size: 14px !important;
    line-height: 14px !important;
    margin-bottom: 14px !important; }

  h4 {
    font-size: 12px !important;
    margin-bottom: 14px !important;
    line-height: 14px !important; }

  ul, ol {
    /*margin-top: -7px !important;*/
    margin-bottom: 14px !important; }

  p + ul {
    margin-top: -7px; }

  li {
    font-family: helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: 14px !important; }
    li li {
      font-size: 12px !important;
      line-height: 14px !important; }

  header {
    display: none; }

  footer {
    display: none; }

  .page-break {
    page-break-before: always !important; } }
pre code {
  margin: 0 0 1.4em;
  padding: 0.7em 2.8em; }

html, body {
  height: 100%; }

#sticky-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto-7em; }

footer, #sticky-push {
  height: 7em; }
